Rhistory
JHU-DS-course3: Getting and Cleaning Data.txt
XML.pdf
getdata_data_DATA.gov_NGAP.xlsx
getdata_data_restaurants.xml
getdata_data_ss06hid.csv
getdata_data_ss06pid.csv
getdata_projectfiles_UCI HAR Dataset.zip
quiz1.R
tidy-data.pdf
.Rhistory
UCI HAR Dataset/
